@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.content {
  text-align: center;
  position: absolute;
  /* top: 10%; */
  left: 30%;
}

.content h2 {
  color: #fff;
  font-size: 6em;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.content h2:nth-child(2) {
  color: #eedf0d;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.smooth-dnd-container.horizontal > .smooth-dnd-draggable-wrapper {
  height: 100%;
  display: inline-block;
  vertical-align: top !important;
  white-space: normal;
  font-family: "Muli";
}

.RKnrV {
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.grid-container {
  display: grid;

  grid-template-columns: auto;
  grid-gap: 5px;
  padding: 10px;
}

.grid-container > div {
  /* background-color: #3658f0; */
  padding: 0px 0;
  /* padding: 20px; */
  font-size: 15px;
}

.item1 {
  background-color: #3658f0;
  background-position: 100%;
  padding: 20px;
  height: 120px;
  font-family: "Poppins", sans-serif;
}
.item2 {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 10s ease infinite;
  /* height: 1000px; */
}
.item3 {
  /* display: none; */
}
table {
  margin: auto;
  width: 30vw;
  border: hidden;
}
table tr td {
  background-color: black;
  padding: 10px 50px;
  /* gap: 20px; */
}
